.tabs {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, .66);
}

.tabInput {
    position: absolute;
    opacity: 0;
}

.tabLabel {
    width: auto;
    margin: 0;
    padding: 20px 30px;
    background: rgba(255, 255, 255, .66);
    color: #000;
    transition: background 0.1s, color 0.1s;
}

.tabLabel:hover {
    background: rgba(216, 216, 216, .66);
}

.tabLabel:active {
    background: #fff;
}

.tabInput:focus+.tabLabel {
    z-index: 1;
}

.tabInput:checked+.tabLabel {
    background: #09f;
    color: #eee;
}

.tabPanel {
    display: none;
    background: rgba(255, 255, 255, .1);
    order: 99;
}

.tabInput:checked+.tabLabel+.tabPanel {
    display: block;
}