.tabs {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, .5);
}

.tabInput {
    position: absolute;
    opacity: 0;
}

.tabLabel {
    width: auto;
    margin: 0;
    padding: 20px 30px;
    background: rgba(255, 255, 255, .66);
    color: #000;
    transition: background 0.1s, color 0.1s;
}

.tabLabel:hover {
    background: hsl(204, 100%, 90%);
}

.tabLabel:active {
    background: hsl(204, 100%, 95%);
}

.tabInput:focus+.tabLabel {
    z-index: 1;
}

.tabInput:checked+.tabLabel {
    background: hsl(204, 100%, 50%);
    color: #eee;
}

.tabPanel {
    display: none;
    order: 99;
}

.tabInput:checked+.tabLabel+.tabPanel {
    display: block;
}